<div class="relative h-screen w-full mt-10 mb-10">
    <img
        src="https://i.pinimg.com/originals/6e/dc/fe/6edcfeeaf62b8c26ff0781fb4a447599.jpg"
        alt="Background Image"
        class="absolute inset-0 w-full h-full object-cover filter blur-sm"
    />
    <div class="absolute inset-0 bg-black opacity-70"></div>
        <div class="absolute inset-0 flex flex-col items-center justify-center">
            <h1 class="text-4xl text-white font-bold">Contáctanos</h1>
            <div class="max-w-2xl mx-auto mt-8 p-6 rounded-lg">
                <p class="text-xl text-white mt-4">
                    Letras al Viento es una cafetería ideal para los amantes de
                    la literatura.
                </p>
                <p class="text-xl text-white mt-4">
                    Además de su servicio de venta de libros y productos en
                    línea puedes visitar nuestra sucursal y acompañar tu lectura
                    con una taza de café o bebida de tu elección, o bien,
                    disfrutar de los diversos eventos culturales que tenemos
                    para ti.
                </p>
                <p class="text-xl text-white mt-4">
                    Siguenos en redes sociales y mantente atendo a la cartelera
                    de eventos.
                </p>
                <p class="text-xl text-white mt-4">
                    ¡Te esperamos en Letras al Viento!
                </p>
            </div>
        </div>
</div>
